node_modules
*.swp
._*
.DS_Store
nbproject
project.properties
project.xml
.bash*
.viminfo
.qmail
Maildir
yii
protected/runtime/**
protected/tmp/**
protected/logs/**
protected/important/**
public_html/stc01
public_html/stc02
public_html/stc01_2
public_html/assets
sh/logs/*

# Git ignore for Eclipse
.buildpath
.project
.settings/

.idea

